# selenium==3.141.0
# selenium-wire==3.0.6
django==3.2.18
selenium-wire==5.1.0
django-admin-rangefilter==0.10.0
django-import-export==3.2.0
django-crontab==0.7.1
django-countries==7.5.1
django-admin-list-filter-dropdown==1.0.3
Babel==2.12.1
django-preferences==1.0.0
django-import-export==3.2.0
django-gsheets==0.0.10